@import "node_modules/bootstrap/scss/bootstrap"

.container
  margin: 0 auto
  min-height: 100vh
  display: block
  justify-content: center
  align-items: center
  text-align: center

.title
  font-size: 2rem
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
  display: block
  font-weight: 300
  color: #35495e
  letter-spacing: 1px

  @include media-breakpoint-up(sm)
    font-size: 4rem

.subtitle
  font-size: 1.5rem
  font-weight: 300
  color: #526488
  word-spacing: 5px
  padding-bottom: 15px

  @include media-breakpoint-up(sm)
    font-size: 2rem

h5
  text-align: center

.row
  text-align: left

.links
  padding-top: 15px
