<template>
  <div class="row">
    <searchBar
      :value="filterValue"
      @input="$emit('input', $event)"
      @keydown="$emit('input', $event)"
    />
    <lmap :map-items="csvData" />
    <list :list-items="csvData" />
  </div>
</template>

<script>
import SearchBar from '~/components/SearchBar.vue'
import List from '~/components/List.vue'
import LMap from '~/components/LMap.vue'

export default {
  components: {
    searchBar: SearchBar,
    list: List,
    lmap: LMap
  },
  props: {
    filterValue: {
      type: String,
      default: () => ''
    },
    csvData: {
      type: Array,
      default: () => []
    }
  }
}
</script>
