<template>
  <div class="card">
    <div class="card-header">
      {{ item.CENTRE_NAME }}
    </div>
    <div class="card-body">
      <label>Address:</label>
      <p class="card-text">
        {{ item.ADDRESS }}
      </p>
      <br>
      <label>Open Hours:</label>
      <p class="card-text">
        {{ genFakeOpenHours(item.CENTRE_NAME.length) }}
      </p>
      <a :href="item.URLLINK" target="_blank" class="btn btn-primary">
        Visit homepage
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    genFakeOpenHours: function(seed) {
      return this.$genFakeOpenHours(seed)
    }
  }
}
</script>

<style lang="sass">
label
  color: #4d4d4d
  font-weight: bold
  font-size: 0.8rem
  display: inline

.card
  margin-bottom: 1rem

.card-text
  display: inline

.card .btn-primary
  float: right
</style>
