<template>
  <div class="col-sm-12">
    <listItem
      v-for="(item, idx) in listItems"
      :key="idx"
      :item="item"
    />
  </div>
</template>

<script>
import ListItem from '~/components/ListItem.vue'

export default {
  components: {
    listItem: ListItem
  },
  props: {
    listItems: {
      type: Array,
      default: () => []
    }
  }
}
</script>
