<template>
  <div id="map">
    <no-ssr>
      <l-map ref="lmap" :zoom="11" :center="[49.2523, -123.1183]">
        <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png" />
        <l-feature-group ref="featureGroup">
          <l-marker
            v-for="(item, idx) in mapItems"
            :key="idx"
            :lat-lng="[item.LATITUDE, item.LONGITUDE]"
          >
            <l-popup>
              <div class="popup-title">
                {{ item.CENTRE_NAME }}
              </div>
              <div class="popup-body">
                <label>Open Hours:</label>
                <span>
                  {{ genFakeOpenHours(item.CENTRE_NAME.length) }}
                </span>
              </div>
            </l-popup>
          </l-marker>
        </l-feature-group>
      </l-map>
    </no-ssr>
  </div>
</template>

<script>
export default {
  props: {
    mapItems: {
      type: Array,
      default: () => []
    }
  },
  updated: function() {
    if (this.mapItems.length !== 0) {
      this.recenterMap()
    }
  },
  methods: {
    recenterMap: function() {
      const bounds = this.$refs.featureGroup.mapObject.getBounds()
      this.$refs.lmap.mapObject.fitBounds(bounds)
    },
    genFakeOpenHours: function(seed) {
      return this.$genFakeOpenHours(seed)
    }
  }
}
</script>

<style lang="sass">
#map
  height: 300px
  width: 100%
  margin: 1rem

.popup-title
  font-size: 1rem
  font-weight: bold
  text-align: center
</style>
