<template>
  <div class="col-sm-12">
    <form id="search-form">
      <div class="form-group">
        <label for="search-field">
          Search
        </label>
        <input
          id="search-field"
          :value="value"
          type="text"
          class="form-control"
          @input="$emit('input', $event)"
          @keydown.enter.prevent="$emit('keydown', $event)"
        >
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: () => ''
    }
  }
}
</script>
