<template>
  <section class="container">
    <div>
      <h1 class="title">
        Kwusen Assessment
      </h1>
      <h2 class="subtitle">
        A learning experience.
      </h2>

      <community-centres
        :csv-data="csvData"
        @input="fetchItems"
        @keydown="fetchItems"
      />
    </div>
  </section>
</template>

<script>
import Papa from 'papaparse'
import CommunityCentres from '~/components/CommunityCentres.vue'

export default {
  components: {
    'community-centres': CommunityCentres
  },
  data() {
    return {
      csvData: []
    }
  },
  created() {
    this.fetchItems()
  },
  methods: {
    fetchItems(e) {
      this.$axios.$get('/static/community_centres.csv').then(data => {
        let csvData = Papa.parse(data, {
          dynamicTyping: true,
          header: true,
          skipEmptyLines: true
        }).data

        if (e && e.target.value) {
          csvData = csvData.filter(item =>
            item.CENTRE_NAME.toLowerCase().includes(
              e.target.value.toLowerCase()
            )
          )
        }

        this.csvData = csvData
      })
    }
  }
}
</script>
